body{
    background: rgb(255, 255, 255);
}

h1{
    text-align: center;
}

p{
    text-align: left;
}

#img-livro{
    width: 300px;
    height: 388.542px;
}

#img-filme{
    width: 300px;
    height: 388.542px;
}