body{
    background: rgb(255, 255, 255);
}

h1{
    text-align: center;
}
#amor {
    background: white;
    color:rgba(255, 153, 127, 0.774);
}
#gelato {
    background: white;
    color:rgb(135, 243, 243);
}
p{
    text-align: left;
}

#img-livro{
    width: 300px;
    height: 388.542px;
    display: inline;
}

#img-filme{
    width: 300px;
    height: 388.542px;
}